<div class="row row-content" >
	<div class="col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-2">
		<h1 style="color: lime;">Answers of 2014 </h1>
	</div>
	<div class="col-sm-12 col-xs-12">
		<div class="media" ng-repeat="ans in answer3">
			<div class="media-heading">
				<h2 class="title">{{ans.index}}. <small ng-bind-html="ans.que"></small></h2>.
			</div>
			<div class="media-body">
				<blockquote>
					<div ng-bind-html="ans.ans"></div>
				</blockquote>		
			</div>
		</div>
		
	</div>
</div>
