<div class="row row-content" ng-controller="AssignmentController">
	<p style="padding-top:30px;"></p>
	<div class="col-sm-12 col-xs-12">
		<p>{{information.introduction}}</p>
	</div>
	<div class="col-sm-12 col-xs-12" ng-repeat="info in information.content">
		<h2 style="font-weight:bold; color: lime;">{{info.token}}</h2>
		<p style="padding-top:5px;"></p>
		<div style="padding-left: 25px;">
			<div ng-bind-html="info.caption" style="font-size:16px;"></div>	
			<p style="padding-top:4px;"></p>
			<blockquote>
				<pre>{{info.example}}</pre>
			</blockquote>
			<div ng-bind-html="info.explanation" style="font-size:15px;"></div>	
		</div>
		<hr>
		
	</div>

</div>